:host {
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    margin: 0 auto;
}

.container {
  width: 100%; /* Full viewport width */
  height: 99.5vh; /* Full viewport height */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.container > * {
    width: 50%;
}